<div class="block-blog-homepage">
	<div class="main-container">
		<div class="grid-x grid-margin-x">
			<div class="cell blog-header" style="font-weight: 600;">Najnowsze artykuyły z naszego poradnika</div>
		</div>		
		<div class="grid-x">
			<div class="cell">
				<div class="orbit" role="region" aria-label="Favorite Text Ever" data-orbit>
      <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><img style="width: 30px; fill: #004b95" src="{{ function('get_template_directory_uri') }}/images/icons/chevron-circle-left-solid.svg" /></button>
        <button class="orbit-next" aria-label="next"><img style="width: 30px; fill: #004b95" src="{{ function('get_template_directory_uri') }}/images/icons/chevron-circle-right-solid.svg" /></button>
        <li class="is-active orbit-slide" style="padding: 25px; padding-bottom: 30px; padding-left:35px; padding-right:35px">
          <div class="docs-example-orbit-slide">
		  <div class="grid-x blog-grid">
				<div class="cell medium-6">
					<div class="grid-x">
						<div class="cell small-6 img-blog"></div>
						<div class="cell small-6 text-blog-block">
							<div class="grid-x">
							<div class="cell data">06 Czerwiec 2020</div>
							<div class="cell naglowek">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
							<div class="cell content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
							<div class="cell button-panel">
							
								<span class="category">Kategoria</span>
								
								<a href="#" style="float: right; margin-right: 20px;"><span class="more">Więcej</span></a>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cell medium-6">
					<div class="grid-x">
						<div class="cell small-6 img-blog"></div>
						<div class="cell small-6 text-blog-block">
							<div class="grid-x">
							<div class="cell data">06 Czerwiec 2020</div>
							<div class="cell naglowek">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
							<div class="cell content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
							<div class="cell button-panel">
							
								<span class="category">Kategoria</span>
								
								<a href="#" style="float: right; margin-right: 20px;"><span class="more">Więcej</span></a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
          </div>
        </li>
		 <li class="is-active orbit-slide" style="padding: 25px; padding-bottom: 30px; padding-left:35px; padding-right:35px">
          <div class="docs-example-orbit-slide">
		  <div class="grid-x blog-grid">
				<div class="cell medium-6">
					<div class="grid-x">
						<div class="cell small-6 img-blog"></div>
						<div class="cell small-6 text-blog-block">
							<div class="grid-x">
							<div class="cell data">06 Czerwiec 2020</div>
							<div class="cell naglowek">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
							<div class="cell content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
							<div class="cell button-panel">
							
								<span class="category">Kategoria</span>
								
								<a href="#" style="float: right; margin-right: 20px;"><span class="more">Więcej</span></a>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="cell medium-6">
					<div class="grid-x">
						<div class="cell small-6 img-blog"></div>
						<div class="cell small-6 text-blog-block">
							<div class="grid-x">
							<div class="cell data">06 Czerwiec 2020</div>
							<div class="cell naglowek">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
							<div class="cell content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
							<div class="cell button-panel">
							
								<span class="category">Kategoria</span>
								
								<a href="#" style="float: right; margin-right: 20px;"><span class="more">Więcej</span></a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
          </div>
        </li>
      </ul>
      <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
		<button data-slide="2"><span class="show-for-sr">Second slide details.</span></button>
      </nav>
    </div>
			
			</div>

		</div>		
	</div>	
</div>
